-- Running upgrade 2f9377b8c88e -> b49d41c2072b

CREATE TABLE dataset_file_visualization (
    datafile_id INTEGER NOT NULL COMMENT '数据文件id', 
    umap_data_path TEXT COMMENT '存储UMAP数据路径', 
    umap_img_path TEXT COMMENT '存储UMAP图像路径', 
    qc_data_path TEXT COMMENT '存储QC数据路径', 
    qc_img_path TEXT COMMENT '存储QC图像路径', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(datafile_id) REFERENCES dataset_file (id)
)COMMENT='数据集可视化文件';

CREATE INDEX ix_dataset_file_visualization_datafile_id ON dataset_file_visualization (datafile_id);

ALTER TABLE dataset ADD COLUMN file_acquired_size_gb FLOAT COMMENT '已获取数据量(GB)';

ALTER TABLE dataset_file ADD COLUMN oss_path TEXT COMMENT 'oss文件路径';

ALTER TABLE dataset_file ADD COLUMN file_size FLOAT NOT NULL COMMENT '文件大小';

ALTER TABLE dataset_file ADD COLUMN file_format TEXT NOT NULL COMMENT '文件格式';

ALTER TABLE dataset_file ADD COLUMN other_path TEXT COMMENT '其他存储路径';

ALTER TABLE dataset_file ADD COLUMN backup_path TEXT COMMENT '备份存储路径';

ALTER TABLE dataset_file DROP COLUMN path;

UPDATE alembic_version SET version_num='b49d41c2072b' WHERE alembic_version.version_num = '2f9377b8c88e';

