-- Running upgrade 36db301f4501 -> 68e0750b09f0

CREATE TABLE cohort_patient_c_therapy_detail (
    patient_id INTEGER NOT NULL COMMENT '队列患者id', 
    c_index INTEGER COMMENT '治疗次序', 
    c_date DATE COMMENT '治疗日期', 
    c_detail TEXT COMMENT '治疗方案', 
    c_effects ENUM('CR_CRi','PR','NR') COMMENT '疗效评估', 
    c_mrd TEXT COMMENT 'MRD', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES cohort_patient (id)
);

CREATE INDEX ix_cohort_patient_c_therapy_detail_patient_id ON cohort_patient_c_therapy_detail (patient_id);

ALTER TABLE cohort_patient_from_data ADD COLUMN first_relapse_date DATE COMMENT '第一次复发时间';

ALTER TABLE cohort_patient_from_data DROP COLUMN c1_mrd;

ALTER TABLE cohort_patient_from_data DROP COLUMN c1_date;

ALTER TABLE cohort_patient_from_data DROP COLUMN c2_mrd;

ALTER TABLE cohort_patient_from_data DROP COLUMN c2_effects;

ALTER TABLE cohort_patient_from_data DROP COLUMN c1_effects;

ALTER TABLE cohort_patient_from_data DROP COLUMN c2_detail;

ALTER TABLE cohort_patient_from_data DROP COLUMN c1_detail;

ALTER TABLE cohort_patient_from_data DROP COLUMN c2_date;

ALTER TABLE cohort_patient_from_data DROP COLUMN frist_relapse_date;

UPDATE alembic_version SET version_num='68e0750b09f0' WHERE alembic_version.version_num = '36db301f4501';

