-- Running upgrade 68e0750b09f0 -> dd91164fc3d8

ALTER TABLE cohort_patient_c_therapy_detail MODIFY c_index INTEGER NOT NULL COMMENT '治疗次序';

UPDATE alembic_version SET version_num='dd91164fc3d8' WHERE alembic_version.version_num = '68e0750b09f0';

