-- Running upgrade 6c54801bec54 -> 5d892999c6c1

ALTER TABLE dataset ADD COLUMN source TEXT COMMENT '数据来源';

ALTER TABLE dataset ADD COLUMN download_started_date DATE COMMENT '开始获取的日期';

ALTER TABLE dataset ADD COLUMN planed_finish_date DATE COMMENT '计划完成日期';

ALTER TABLE dataset ADD COLUMN contactor TEXT COMMENT '联系人';

ALTER TABLE dataset ADD COLUMN is_public BOOL COMMENT '是否公开';

ALTER TABLE dataset ADD COLUMN other_species TEXT COMMENT '其他物种名称';

ALTER TABLE dataset ADD COLUMN title TEXT COMMENT '数据集名称';

ALTER TABLE dataset DROP COLUMN file_acquired_size_gb;

ALTER TABLE eeg_data MODIFY data_update_year DATE NOT NULL COMMENT '数据上传时间';

UPDATE alembic_version SET version_num='5d892999c6c1' WHERE alembic_version.version_num = '6c54801bec54';

