-- Running upgrade b49d41c2072b -> abdd0ef6f6f1

CREATE TABLE casbin_domain (
    owner_id INTEGER NOT NULL COMMENT '创建者id', 
    domain_name TEXT COMMENT 'policy类型', 
    description TEXT COMMENT 'domain描述', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(owner_id) REFERENCES user (id)
);

CREATE INDEX ix_casbin_domain_owner_id ON casbin_domain (owner_id);

CREATE TABLE cohort_patient (
    domain_id INTEGER NOT NULL COMMENT '队列患者id', 
    patient_name TEXT NOT NULL COMMENT '患者姓名', 
    gender ENUM('male','female') COMMENT '性别', 
    inhospital_id TEXT NOT NULL COMMENT '院内编号', 
    doctor_name TEXT COMMENT '填写医生', 
    date_birth DATE NOT NULL COMMENT '出生日期', 
    identity_id VARCHAR(50) COMMENT '身份证编号', 
    hospital TEXT COMMENT '就诊医院', 
    family_address TEXT COMMENT '家庭住址', 
    family_address_city TEXT COMMENT '家庭住址-区县', 
    family_address_street TEXT COMMENT '家庭住址-街道', 
    phone_number TEXT COMMENT '电话号码', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(domain_id) REFERENCES casbin_domain (id)
)COMMENT=' 队列患者表';

CREATE INDEX ix_cohort_patient_domain_id ON cohort_patient (domain_id);

CREATE TABLE domain_user (
    user_id INTEGER NOT NULL COMMENT '创建者id', 
    domain_id INTEGER NOT NULL COMMENT 'policy类型id', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(domain_id) REFERENCES casbin_domain (id), 
    FOREIGN KEY(user_id) REFERENCES user (id)
);

CREATE INDEX ix_domain_user_domain_id ON domain_user (domain_id);

CREATE INDEX ix_domain_user_user_id ON domain_user (user_id);

CREATE TABLE cohort_patient_c_therapy_detail (
    patient_id INTEGER NOT NULL COMMENT '队列患者id', 
    c_index INTEGER NOT NULL COMMENT '治疗次序', 
    c_date DATE COMMENT '治疗日期', 
    c_detail TEXT COMMENT '治疗方案', 
    c_effects INTEGER COMMENT '疗效评估', 
    c_mrd TEXT COMMENT 'MRD', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES cohort_patient (id)
);

CREATE INDEX ix_cohort_patient_c_therapy_detail_patient_id ON cohort_patient_c_therapy_detail (patient_id);

CREATE TABLE cohort_patient_file (
    patient_id INTEGER NOT NULL COMMENT '队列患者id', 
    oss_path TEXT COMMENT 'oss文件路径', 
    file_size FLOAT NOT NULL COMMENT '文件大小', 
    file_format TEXT NOT NULL COMMENT '文件格式', 
    other_path TEXT COMMENT '其他存储路径', 
    backup_path TEXT COMMENT '备份存储路径', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES cohort_patient (id)
);

CREATE INDEX ix_cohort_patient_file_patient_id ON cohort_patient_file (patient_id);

CREATE TABLE cohort_patient_from_data (
    patient_id INTEGER NOT NULL COMMENT '队列患者id', 
    timing_of_diagnosis DATE COMMENT '确诊时间', 
    large_classification TEXT COMMENT '大分型', 
    small_classification TEXT COMMENT '小分型', 
    diagnose INTEGER COMMENT '诊断', 
    wcb FLOAT COMMENT '入院时WBC（x10E9/L）', 
    hb FLOAT COMMENT 'Hb（g/L）', 
    plt FLOAT COMMENT 'PLT（x10E9/L）', 
    bone_marrow_morphology FLOAT COMMENT '骨髓形态', 
    fcm TEXT COMMENT 'FCM%', 
    fusion INTEGER COMMENT '融合基因', 
    fusion_detail TEXT COMMENT '融合基因详情', 
    mutation INTEGER COMMENT '基因突变', 
    mutation_detail TEXT COMMENT '基因突变详情', 
    chromosome INTEGER COMMENT '染色体', 
    chromosome_detail TEXT COMMENT '染色体详情', 
    is_therapy BOOL COMMENT '是否治疗', 
    chemotherapy_counts INTEGER COMMENT '化疗总程数', 
    last_chemotherapy_date DATE COMMENT '末次化疗日期', 
    status_after_last_chemotherapy INTEGER COMMENT '末次化疗后状态', 
    is_relapse BOOL COMMENT '是否复发', 
    cr1_date DATE COMMENT 'CR1时间', 
    first_relapse_date DATE COMMENT '第一次复发时间', 
    cr2_date DATE COMMENT 'CR2时间', 
    second_relapse_date DATE COMMENT '第二次复发时间', 
    cr3_date DATE COMMENT 'CR3时间', 
    is_transplant BOOL COMMENT '是否骨髓移植', 
    transplant_date DATE COMMENT '骨髓移植时间', 
    is_death BOOL COMMENT '是否死亡', 
    date_of_death DATE COMMENT '死亡日期', 
    last_followup_date DATE COMMENT '末次随访日期', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES cohort_patient (id)
);

CREATE INDEX ix_cohort_patient_from_data_patient_id ON cohort_patient_from_data (patient_id);

CREATE TABLE cohort_patient_memo (
    patient_id INTEGER NOT NULL COMMENT '队列患者id', 
    memo TEXT COMMENT '备注内容', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES cohort_patient (id)
);

CREATE INDEX ix_cohort_patient_memo_patient_id ON cohort_patient_memo (patient_id);

CREATE TABLE domain_file (
    domain_id INTEGER NOT NULL COMMENT 'policy类型id', 
    file_id INTEGER NOT NULL COMMENT '文件id', 
    id INTEGER NOT NULL COMMENT '主键' AUTO_INCREMENT, 
    gmt_create DATETIME NOT NULL COMMENT '创建时间' DEFAULT now(), 
    gmt_modified DATETIME NOT NULL COMMENT '修改时间' DEFAULT now(), 
    is_deleted BOOL NOT NULL COMMENT '该行是否被删除' DEFAULT false, 
    PRIMARY KEY (id), 
    FOREIGN KEY(domain_id) REFERENCES casbin_domain (id), 
    FOREIGN KEY(file_id) REFERENCES dataset_file (id)
);

CREATE INDEX ix_domain_file_domain_id ON domain_file (domain_id);

CREATE INDEX ix_domain_file_file_id ON domain_file (file_id);

ALTER TABLE user ADD COLUMN institution VARCHAR(255) NOT NULL COMMENT '机构';

CREATE INDEX ix_user_institution ON user (institution);

UPDATE alembic_version SET version_num='abdd0ef6f6f1' WHERE alembic_version.version_num = 'b49d41c2072b';

