-- Running upgrade dd91164fc3d8 -> 03b6a6104a28

ALTER TABLE cohort_patient_from_data MODIFY chromosome INTEGER NULL COMMENT '染色体';

ALTER TABLE cohort_patient_from_data MODIFY status_after_last_chemotherapy INTEGER NULL COMMENT '末次化疗后状态';

ALTER TABLE cohort_patient_from_data MODIFY is_transplant TINYINT(1) NULL COMMENT '是否骨髓移植';

ALTER TABLE cohort_patient_from_data MODIFY last_followup_date DATE NULL COMMENT '末次随访日期';

UPDATE alembic_version SET version_num='03b6a6104a28' WHERE alembic_version.version_num = 'dd91164fc3d8';

