-- Running downgrade 03b6a6104a28 -> dd91164fc3d8

ALTER TABLE cohort_patient_from_data MODIFY last_followup_date DATE NULL COMMENT '死亡日期';

ALTER TABLE cohort_patient_from_data MODIFY is_transplant TINYINT(1) NULL COMMENT '是否复发';

ALTER TABLE cohort_patient_from_data MODIFY status_after_last_chemotherapy ENUM('CR_CRi','PR','NR') NULL COMMENT '末次化疗后状态';

ALTER TABLE cohort_patient_from_data MODIFY chromosome TEXT NULL COMMENT '染色体';

UPDATE alembic_version SET version_num='dd91164fc3d8' WHERE alembic_version.version_num = '03b6a6104a28';

