-- Running downgrade 36db301f4501 -> b49d41c2072b

DROP INDEX ix_user_institution ON user;

ALTER TABLE user DROP COLUMN institution;

DROP INDEX ix_domain_file_file_id ON domain_file;

DROP INDEX ix_domain_file_domain_id ON domain_file;

DROP TABLE domain_file;

DROP INDEX ix_cohort_patient_memo_patient_id ON cohort_patient_memo;

DROP TABLE cohort_patient_memo;

DROP INDEX ix_cohort_patient_from_data_patient_id ON cohort_patient_from_data;

DROP TABLE cohort_patient_from_data;

DROP INDEX ix_cohort_patient_file_patient_id ON cohort_patient_file;

DROP TABLE cohort_patient_file;

DROP INDEX ix_domain_user_user_id ON domain_user;

DROP INDEX ix_domain_user_domain_id ON domain_user;

DROP TABLE domain_user;

DROP INDEX ix_cohort_patient_domain_id ON cohort_patient;

DROP TABLE cohort_patient;

DROP INDEX ix_casbin_domain_owner_id ON casbin_domain;

DROP TABLE casbin_domain;

UPDATE alembic_version SET version_num='b49d41c2072b' WHERE alembic_version.version_num = '36db301f4501';

