-- Running downgrade 68e0750b09f0 -> 36db301f4501

ALTER TABLE cohort_patient_from_data ADD COLUMN frist_relapse_date DATE COMMENT '第一次复发时间';

ALTER TABLE cohort_patient_from_data ADD COLUMN c2_date DATE COMMENT 'C2治疗日期';

ALTER TABLE cohort_patient_from_data ADD COLUMN c1_detail TEXT COMMENT 'C1治疗方案';

ALTER TABLE cohort_patient_from_data ADD COLUMN c2_detail TEXT COMMENT 'C2治疗方案';

ALTER TABLE cohort_patient_from_data ADD COLUMN c1_effects ENUM('CR_CRi','PR','NR') COMMENT 'C1疗效评估';

ALTER TABLE cohort_patient_from_data ADD COLUMN c2_effects ENUM('CR_CRi','PR','NR') COMMENT 'C2疗效评估';

ALTER TABLE cohort_patient_from_data ADD COLUMN c2_mrd TEXT COMMENT 'C2_MRD';

ALTER TABLE cohort_patient_from_data ADD COLUMN c1_date DATE COMMENT 'C1治疗日期';

ALTER TABLE cohort_patient_from_data ADD COLUMN c1_mrd TEXT COMMENT 'C1_MRD';

ALTER TABLE cohort_patient_from_data DROP COLUMN first_relapse_date;

DROP INDEX ix_cohort_patient_c_therapy_detail_patient_id ON cohort_patient_c_therapy_detail;

DROP TABLE cohort_patient_c_therapy_detail;

UPDATE alembic_version SET version_num='36db301f4501' WHERE alembic_version.version_num = '68e0750b09f0';

