-- Running downgrade b49d41c2072b -> 2f9377b8c88e

ALTER TABLE dataset_file ADD COLUMN path TEXT NOT NULL COMMENT '文件路径';

ALTER TABLE dataset_file DROP COLUMN backup_path;

ALTER TABLE dataset_file DROP COLUMN other_path;

ALTER TABLE dataset_file DROP COLUMN file_format;

ALTER TABLE dataset_file DROP COLUMN file_size;

ALTER TABLE dataset_file DROP COLUMN oss_path;

ALTER TABLE dataset DROP COLUMN file_acquired_size_gb;

DROP INDEX ix_dataset_file_visualization_datafile_id ON dataset_file_visualization;

DROP TABLE dataset_file_visualization;

UPDATE alembic_version SET version_num='2f9377b8c88e' WHERE alembic_version.version_num = 'b49d41c2072b';

