-- Running downgrade dd91164fc3d8 -> 68e0750b09f0

ALTER TABLE cohort_patient_c_therapy_detail MODIFY c_index INTEGER NULL COMMENT '治疗次序';

UPDATE alembic_version SET version_num='68e0750b09f0' WHERE alembic_version.version_num = 'dd91164fc3d8';

